<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/imageSlide.css">
</head>
<body>
	<div class="slide">
		<ul>
			<li class=''>
				<div class="div-full" style="background-color: red">
					1
					
				</div>
			</li>
			<li class=''>
				<div class="div-full" style="background-color: blue">
					2
					
				</div>
			</li>
			<li class=''>
				<div class="div-full" style="background-color: gray">
					3
					
				</div>
			</li>
			<li class=''>
				<div class="div-full" style="background-color: #F00">
					4
					
				</div>
			</li>
			<li class=''>
				<div class="div-full" style="background-color: #456edf">
					5
					
				</div>
			</li>
		</ul>
	</div>

	<button type="" onclick="buttonPre()">pre</button>
	<button type="" onclick="buttonStop()">stop</button>
	<button type="" onclick="buttonNext()">next</button>
	<script src="/javascripts/imageSlide.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>