*{
	padding: 0;
	margin: 0;
}

.header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 101;
}

nav{
	background: #ccc;
	height: 50px;
}


nav > ul{
	list-style: none;
}

nav ul li,nav div.nav-title{
	display: inline-block;
	line-height: 50px;
	float: right;
	margin-right: 20px;
}

nav div.nav-title{
	margin-left: 20px;
	float: left;
	letter-spacing: 1px;
	font-size: 20px;
	font-weight: 700;
}


nav a{
	line-height: inherit;
	text-decoration: none;
	display: inline-block;
	height: inherit;
}

.sidebar{
	position: fixed;
	width: 20%;
	height: 100%;
	top: 0;
	right: 0;
	background: gray;
	transition: width 1s;
}

.sidebar-width{
	width: 0%;
}

.sidebar ul{
	list-style: none;
}







.banner{
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 150px;
	height: 450px;
}

button{
	border: none;
	background: #333;
	color: #eee;
	padding: 10px;
}


.content{
	transition: width 1s;
	width: 100%;
}
.content-width{
	width: 80%;
}



.green-section{
	text-align: center;
	background: green;
	color: #FFF;
}

.wraper{
	max-width: 1080px;
	margin: 0 auto;
}

.wraper-title{
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 2px;
	padding: 10px 0;
}

.wraper div > span{
	display: inline-block;
	width: 80px;
	height: 80px;
	background: #99d680;
	transform: rotate(45deg);
	--webkit-transform: rotate(45deg);
	margin:20px;
}
.wraper div > span .icon{
	display: inline-block;
	width: inherit;
	height: inherit;
	line-height: 80px;
	transform: rotate(-45deg);
	--webkit-transform: rotate(-45deg);
}



.gray-section{
	width: 100%;
	background: #6f6c6c;	
}


.aticle-section{	
	width: 100%;
}
.aticle-section:after{
	content: "";
	display: block;
	clear: both;
}

.aticle-section > div{
	float: left;
}

.aticle-section .img-section{
	width: 45%;
	font-size: 0;
}
.aticle-section .img-section img{
	width: 100%;
}

.aticle-section .text-section p{
	width: 90%;
}
.aticle-section .text-section{
	width: 55%;
	color: #FFF;
	word-break: break-all;
	position: relative;
	top: 20px;
	left: 20px;
}







